{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Diyetisyenler</title>
    <style>
    </style>
</head>
<body>
    {% include 'partials/_navbar.html' %}
    <div class="container mt-4" style="margin-bottom: 140px;">
        <div class="row">
            <div class="col-3">
                {% include 'partials/_diyet-categories.html' %}
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        <img src="{% static 'ekibimiz.jpg' %}" alt="" style="height:480px; width:950px; object-fit: cover; border-radius:8px; border:1px solid #DEE2E6;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row mb-5">
            <div class="col-3">
                <img src="{% static '' %}" style="height: 500px; width: 19rem; object-fit: cover; border-radius: 8px; border:1px solid #DEE2E6;" alt="Card image cap">
            </div>
            <div class="col-9" style="height: 500px; border-radius: 8px; border:1px solid #DEE2E6;">
                <div class="card-body">
                    <h4>Uzm. Dyt ALİ CEYLAN</h4>
                    <p>
                        1990 yılında beslenme ve diyet mesleğine gönül veren Ali CEYLAN,
                        Hacet­tepe Üniversitesi, “Beslenme ve Diyetetik” mezunudur. Yüksek
                        lisansını da aynı üniversitede tamamlayarak uzman ünvanını almıştır.
                        2003-2004 yıllarında Amerika Birleşik devletlerinde çeşitli
                        hastanelerde bulunmuştur ve burada edindiği tecrübe ile Mezura
                        kliniğini kurmuştur. Bireysel beslenme danışmanlığı ve diyet tedavisi
                        hizmetlerine ilave olarak Coorporate Wellness uygulamasının Türkiye’de
                        öncüsüdür.
                    </p>
                    <p>
                        "İyi Yaşam Günlüğü” çalışması ilk olarak 2005 yılında yayımlanmaya
                        başlamış olup, değişen konu ve içeriğiyle on iki yıldır sağlığına önem
                        verenlerin klasiği haline gelmiştir. Koçak’ın 2007 yılında Dilara
                        Koçak ile İyi Yaşam, 2009 yılında Afiyetle Diyet Kitapları ve 2015
                        yılında Afiyetle Diyet Tarifleri kitabı ya­yımlanmıştır. Milliyet
                        gazetesi, CEO Life, Hello, Women’s Health dergi­lerinde ve
                        vogue.com.tr ve uplifers.com’da beslenme ve iyi yaşam konularında
                        yazan Koçak, CNN Türk, Kanal D, TRT ve Kanal Türk kanallarında iyi
                        yaşam ve beslenme konularında programlar hazırlayıp sunmuştur.
                    </p>
              
                    <p>
                        Dijital iletişim kanallarında güçlü bir etkileşime sahip olan Koçak,
                        23 yıllık diyet ve sağlık mesleki tecrübelerini kendi mobil uygulaması
                        ile tüm takipçileriyle paylaşmaktadır. İyi yaşamın tüm boyutları ilgi
                        alanında olup gurme lezzetler, seyahat, hobi, güzellik, bakım ve
                        egzersiz deneyimlerini de sosyal medyada anlatan Koçak’ın gelişmiş
                        mutfak becerileri ile lezzet ve sağlığı birleştiren tarifleri de
                        önemli bir yol göstericidir.
                    </p>
              
                    <p>
                        Üniversitesi Beslenme ve Diyetetik bölümü öğrencile­rine Meslek Etiği
                        ve İletişim dersleri veren Dilara Koçak hâlâ İstanbul Üniversitesi
                        Sosyoloji bölümünde eğitimine devam etmektedir.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-3">
                <img src="{% static '' %}" style="height: 500px; width: 19rem; object-fit: cover; border-radius: 8px; border:1px solid #DEE2E6;" alt="Card image cap">
            </div>
            <div class="col-9" style="height: 500px; border-radius: 8px; border:1px solid #DEE2E6;">
                <div class="card-body">
                    <h4>Uzm. Dyt. SAMET BATUHAN ARABACI</h4>
                    <p>
                        2019 yılında Başkent Üniversitesi Sağlık Bilimleri Fakültesi
                        Beslenme ve Diyetetik Bölümü’nden yüksek onur öğrencisi olarak mezun
                        olmuş, şu anda Başkent Üniversitesi Beslenme ve Diyetetik Bölümü’nde
                        yüksek lisans eğitimine tez aşamasında devam etmektedir.
                    </p>

                    <p>
                        Üniversite eğitimi süresince Gülhane Eğitim ve Araştırma Hastanesi,
                        Başkent Üniversitesi Hastanesi ve Ufuk Üniversitesi Dr.Rıdvan Ege
                        Hastanelerinde erişkin ve çocuk beslenmesi üzerine, Ankara Liv
                        Hospital mutfağında kurum beslenmesi üzerine stajlarını başarıyla
                        tamamladı.
                    </p>

                    <p>
                        Kendisini daha da geliştirmek adına Diyabet diyetisyenliği, Onkoloji
                        diyetisyenliği, Sporcu beslenmesi kursları başta olmak üzere Beslenme
                        ve Psikoloji, Yeme Farkındalığı, Obezite ve Diyabet Tedavisinde Güncel
                        Yaklaşımlar ve Fitoterapi olmak üzere birçok eğitim ve kurs programına
                        katıldı.
                    </p>

                    <p>
                        Lisans eğitimi süresinde ‘Endokrin bozucular ve obezite’ konulu
                        detaylı seminer hazırladı. Üniversitede bitirme tezi olarak “Ankara’da
                        yaşayan 20-65 yaş arası bireylerin uyku kaliteleri ile duygusal iştah
                        durumları arasındaki ilişkinin belirlenmesi’’ konusunu hazırladı.
                        Bitirme tezini 2. Uluslarası Sağlık Bilimleri ve Yaşam Kongresi’nde
                        sundu. Yüksek lisans eğitiminde Kolelitiazis ve Tiroid Fonksiyon
                        Bozuklukları ı̇lişkisi derleme yazısını yazdı.
                    </p>

                    <p>
                        Ağustos 2020 tarihinden itibaren Mezura Kliniği’nde diyetisyen olarak
                        çalışmaya başlayan Cansu Çelik Mezura Kliniği’nde hasta tedavi ve
                        eğitimi, bilimsel yayın takip ve uygulama geliştirme konularında Uzm.
                        Dyt Ali Ceylan’a yardımcı oluyor.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-3">
                <img src="{% static '' %}" style="height: 500px; width: 19rem; object-fit: cover; border-radius: 8px; border:1px solid #DEE2E6;" alt="Card image cap">
            </div>
            <div class="col-9" style="height: 500px; border-radius: 8px; border:1px solid #DEE2E6;">
                <div class="card-body">
                    <h4>Uzm. Dyt ÇAĞDAŞ ÇAM</h4>
                    <p>
                        2014 yılında Hacettepe Üniversitesi Sağlık Bilimleri Fakültesi
                        Beslenme ve Diyetetik Bölümü’nden şeref öğrencisi olarak mezun olmuş,
                        ardından Acıbadem Üniversitesi Beslenme ve Diyetetik Bölümü’nde yüksek
                        lisans eğitimini tamamlayarak uzman diyetisyen olmuştur.
                    </p>
              
                    <p>
                        Üniversite eğitimi süresince, Hacettepe Üniversitesi Erişkin Hastanesi
                        onkoloji, nutrisyon destek, poliklinik ve dahiliye bölümlerinde ve
                        Özel Ankara Güven Hastanesi’nde yetişkin beslenmesi üzerine; Hacettepe
                        Üniversitesi İhsan Doğramacı Çocuk Hastanesi’nde çocuk beslenmesi
                        üzerine; T.C. Cumhurbaşkanlığı Genel Sekreterliği ve Hacettepe
                        Üniversitesi Hastaneleri mutfağında kurum beslenmesi üzerine
                        stajlarını başarıyla tamamladı.
                    </p>
              
                    <p>
                        Lisans eğitimi süresinde ‘Anne Sütünü Artırıcı Galaktagog Etkili
                        İlaçlar ve Besinler’ konulu detaylı seminer hazırladı. Üniversitede
                        bitirme tezi olarak “Değişik Sosyoekonomik Düzeydeki Orta Öğretim
                        Kurumlarına Devam Etmekte Olan Öğrencilerin Fast-Food Tüketimleri,
                        Beslenme Durumları Ve Fiziksel Aktivitelerinin Araştırılması” konusunu
                        hazırladı. IX. Uluslarası Beslenme ve Diyetetik Kongresi’nde yazılı
                        poster bildirimi yaptı.
                    </p>
              
                    <p>
                        Diyabet diyetisyenliği, kardiyoloji diyetisyenliği, sporcu
                        diyetisyenliği kursları başta olmak üzere bir çok eğitim ve kurs
                        programına katıldı.
                    </p>
              
                    <p>
                        Nisan 2014 tarihinden itibaren Mezura Kliniği’nde diyetisyen olarak
                        çalışmaya başlayan Çağdaş Çam; Mezura’nın wellness çalışmalarının
                        yönetimi ve koordinasyonundan sorumludur.
                    </p>
              
                    <p>
                        Nisan 2015 tarihinden itibaren Mezura Kliniği’nde diyetisyen olarak
                        çalışmaya başlayan Çağdaş Çam; Mezura’nın kurumsal beslenme
                        çalışmalarının yönetimi ve koordinasyonundan sorumludur.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>