<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doktor Programları</title>
    <style>
        .kapsayici{width:1000px;
            background-color:white;
            margin:0 auto;
            text-align:center;
            border-radius:3px solid black;}
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
</head>
<body>
    <div class="kapsayıcı">
    <h2>Doktor Programları</h2>

    <h3>Merhaba,</h3>

    <h3> Kilo Verme/ Kilo Koruma Kolay:</h3>

    <div class="table-responsive wprt_style_display">
        <table class="table">
            <tbody>
                <tr style="background-color: yellowgreen; color: white;">
                    <td width="121">Kahvaltı</td>
                    <td width="121">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ara Öğün</td>
                    <td width="121">Öğle Yemeği</td>
                    <td width="121">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ara Öğün</td>
                    <td width="121">Akşam Yemeği</td>
                </tr>
                <tr>
                    <td width="121">Otlu peynirli yeşil omlet</td>
                    <td width="121">Bitter çikolatalı<br>
                        fındıklı hurma</td>
                    <td width="121">Domates çorbası</td>
                    <td width="121">Domates kurulu galeta</td>
                    <td width="121">Napoliten soslu dana köfte</td>
                </tr>
                <tr>
                    <td width="121">Kahvaltı tabağı</td>
                    <td width="121"></td>
                    <td width="121">Etli kereviz yemeği</td>
                    <td width="121">Çeşnili krem peynir</td>
                    <td width="121">Baby ıspanak salatası</td>
                </tr>
                <tr>
                    <td width="121">Diyetkolay ekmeği</td>
                    <td width="121"></td>
                    <td width="121">Arpa şehriye pilavı</td>
                    <td width="121"></td>
                    <td width="121">Diyetkolay ekmeği</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<h3> Sporcu Beslenmesi Kolay</h3>
<div class="table-responsive wprt_style_display">
    <table class="table">
        <tbody>
            <tr style="background-color: yellowgreen; color: white;">
                <td width="121">Kahvaltı</td>
                <td width="121">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ara Öğün</td>
                <td width="121">Öğle Yemeği</td>
                <td width="121">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ara Öğün</td>
                <td width="121">Akşam Yemeği</td>
                <td width="121">Antreman Sonrası</td>
            </tr>
            <tr>
                <td width="121">Baharatlı haşlanmış<br>
                    yumurta</td>
                <td width="121">Yulaf topları</td>
                <td width="121">Fırında tavuk but</td>
                <td width="121">Karabuğday patlağı<br>
                    üzerine şekersiz<br>
                    fıstık ezmesi</td>
                <td width="121">Izgara biftek</td>
                <td width="121">Magic Smoothie</td>
            </tr>
            <tr>
                <td width="121">Lor peyniri</td>
                <td width="121">Kırmızı elma</td>
                <td width="121">Yasemin pirinci pilavı</td>
                <td width="121">Muz</td>
                <td width="121">Domates soslu<br>
                    tam tahıllı makarna</td>
                <td width="121">Ton balıklı sandviç</td>
            </tr>
            <tr>
                <td width="121">Diyetkolay sporcu<br>
                    özel ekmeği</td>
                <td width="121"></td>
                <td width="121">Enginar kalbi salatası</td>
                <td width="121">Tatlı lor</td>
                <td width="121">Fırında brüksel lahanası<br>
                    (nar ve ceviz eşliğinde)</td>
                <td width="121"></td>
            </tr>
            <tr>
                <td width="121">Bol yeşillik</td>
                <td width="121"></td>
                <td width="121"></td>
                <td width="121"></td>
                <td width="121"></td>
                <td width="121"></td>
            </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<h3>Aralıklı Oruç Kolay Paketi</h3>
<div class="table-responsive wprt_style_display">
    <table class="table">
        <tbody>
            <tr style="background-color: yellowgreen; color: white;">
                <td width="121">Kahvaltı</td>
                <td width="121">1. Ara Öğün</td>
                <td width="121">Akşam Yemeği</td>
            </tr>
            <tr>
                <td width="121">Taze soğan ve<br>
                    maydonoz eşliğinde<br>
                    çırpılmış yumurta</td>
                <td width="121">Elmalı cevizli crumble</td>
                <td width="121">Minestrone<p></p>
                    <p>Fırında tavuk göğüs</p>
                    <p>Arpa şehriyeli yasemin pirinci pilavı</p>
                </td>
            </tr>
            <tr>
                <td width="121">Focaccia ekmeği</td>
                <td width="121"></td>
                <td width="121"></td>
            </tr>
            <tr>
                <td width="121">Avokado dip sos</td>
                <td width="121"></td>
                <td width="121"></td>
            </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Ofiste Beslenme Kolay Paketi</h3>
<div class="table-responsive wprt_style_display">
    <table class="table">
        <tbody>
            <tr style="background-color: yellowgreen; color: white;">
                <td width="121">Öğle Yemeği</td>
                <td width="121">Ara Öğün</td>
            </tr>
            <tr>
                <td width="121">Tavuklu kaşarlı<br>
                    kabak sandal</td>
                <td width="121">Tiramisu Cup</td>
            </tr>
            <tr>
                <td width="121">Tel şehriyeli<br>
                    siyez bulguru pilavı</td>
                <td width="121"></td>
            </tr>
            <tr>
                <td width="121">Fesleğenli yoğurt</td>
                <td width="121"></td>
            </tr>
        </tbody>
    </table>
</div>
<p>&nbsp;</p>

</div>
</div>


</div>
</div>

    <h3>İyi günler dileriz.</h3>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
</body>
</html>