<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <title>Diyetisyen Giriş</title>
  <style>
  .formduzen{
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    margin-top: 100px;
  }
  a{
    text-decoration: none;
    color: #dc3545;
  }
  </style>
</head>

<body>
	{% include 'partials/_navbar.html' %}
	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-4 formduzen">
				<h3 class="mb-4 mt-4">Diyetisyen Giriş</h3>
				<form method="POST" novalidate>
					{% csrf_token %}
					{% if error %}
						<div class="alert alert-danger">
							{{ error }}
						</div>
					{% endif %}
					<div class="mb-4">
						<div class="form-floating">
							<input type="text" class="form-control" id="usernameInput" placeholder="Kullanıcı Adı" name="username" required>
							<label for="usernameInput">Diyetisyen Kullanıcı Adı</label>
							<div class="invalid-feedback">
								Lütfen Diyetisyen Kullanıcı adını giriniz.
							</div>
						</div>
					</div>
					<div class="mb-4">
						<div class="form-floating">
							<input type="password" class="form-control" id="password" placeholder="Şifre" name="password" required>
							<label for="password">Şifre</label>
							<div class="invalid-feedback">
								Lütfen bu alanı doldurunuz.
							</div>
						</div>
					</div>
					<div class="mb-4">
						<button class="btn btn-danger w-100" type="submit">Giriş Yap</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		const form = document.querySelector("form");
		const passwordInput = document.getElementById("password");

		function validatePassword() {
			const confirmPasswordInput = document.getElementById("confirmPassword");
			const confirmPasswordFeedback = document.querySelector("#password + .invalid-feedback");

			if (passwordInput.value === confirmPasswordInput.value) {
				confirmPasswordInput.setCustomValidity("");
				confirmPasswordFeedback.textContent = "";
			} else {
				confirmPasswordInput.setCustomValidity("Şifreler uyuşmuyor.");
				confirmPasswordFeedback.textContent = "Şifreler uyuşmuyor.";
			}
		}

		passwordInput.addEventListener("input", validatePassword);

		form.addEventListener("submit", (e) => {
			form.classList.add("was-validated");

			if (!form.checkValidity()) {
				e.preventDefault();
			}
		}, false);
	</script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
	integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>