<style>
    .arkaplan{
        background-color: #FFFFFF;
    }
    .arkaplan:hover{
        background-color: #DC3545;
    }
</style>
<div class="list-group">
    <a href="/vucutkitle" class="list-group-item list-group-item-action arkaplan">Vücut Kitle Endeksi (BMI)</a>
    <a href="/bazal" class="list-group-item list-group-item-action arkaplan">Bazal Metabolizma Hızı (BMR)</a>
    <a href="/vucutyag" class="list-group-item list-group-item-action arkaplan">Vücut Yağ Oranı</a>
    <a href="/idealkilo" class="list-group-item list-group-item-action arkaplan">İdeal Kilo</a>
    <a href="/gunlukkalori" class="list-group-item list-group-item-action arkaplan">Günlük Kalori İhtiyacı</a>
</div>